<!DOCTYPE html>
<html>
  <head>
    <title>HoopItUp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div class="topnav">
        
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a href="#home">Home</a>
        </div>
      </nav>
      <h1>Hoop It Up</h1>
    </header>
    <center>
    <% if flash[:error] %>
      <h4><%= flash[:error] %></h4>
    <% end %>

    <% if flash[:alert] %>
      <h4><%= flash[:alert] %></h4>
    <% end %>
    </center>

    <%= yield %>

  </body>
</html>
