<!DOCTYPE html>
<html>
  <head>
    <title>HoopItUp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <div class="topnav">
      <% if logged_in? %>
        <%= link_to "Logout", "/logout" %>
        <%= link_to "Games", games_path %>
        <%= link_to "Courts", courts_path %>
      <% else %>
        <%= link_to "Login with GitHub", '/auth/github' %>
        <%= link_to "Sign Up", new_player_path %>
        <%= link_to "Log In", '/login' %>
      <% end %>
      <%= link_to "Home", root_path %>
      </div>

      <h1>Hoop It Up</h1>

    </header>
    
    <center>
    <% if flash[:error] %>
      <div class="error"><h4><%= flash[:error] %></h4></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert"><h4><%= flash[:alert] %></h4></div>
    <% end %>
    </center>

    <%= yield %>

  </body>
</html>
